<div class="orders pb-4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h1 class="mt-4">Orders History</h1>
        <div *ngIf="(orders$ | async)?.length === 0; else hasOrders">
          <p class="alert alert-info">No Orders yet.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #hasOrders>
  <div class="card mb-2" *ngFor="let order of orders$ | async; let i = index">
    <div class="order-details">
      <p class="lead">
        <b>Order Placed at:</b> {{ order.time | date: "medium" }} |
        <b>Total Price :</b>
        {{ order.totalPrice | currency }}
      </p>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.items; let i = index">
          <th scope="row">
            <div class="item-detail">{{ i + 1 }}</div>
          </th>
          <td>
            <div class="item-detail">
              <img [src]="item.image" [alt]="item.title" />
            </div>
          </td>
          <td>
            <div class="item-detail">
              <p class="lead">{{ item.title }}</p>
            </div>
          </td>
          <td>
            <div class="item-detail">
              <p class="lead">{{ item.quantity }}</p>
            </div>
          </td>
          <td>
            <div class="item-detail">
              <p class="lead">{{ item.price | currency }}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
